# 1.Ознайомитися з датасетом зі списком автомобілів Automobile Data Set

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("auto1.csv", low_memory=False)
#df.info(verbose=True)
df.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

# 2.  Виділити і проаналізувати числові атрибути даної вибірки   
У таблиці яка представлена нижче можна побачити такі характеристики числових атрибутів як кількість, середнє значення,стандартне відхилення значень, мінімальне значення атрибута, нижні середні верхні проценталі і максимальне значення атрибута

In [124]:
df.describe(include=[np.number])

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

# 3. Виділити і проаналізувати категоріальні атрибути даної вибірки. Описати конвертацію категоріальних атрибутів
В данній вибірці представлений список не числових атрибутів. В табличці показани таки характеристики для кожного з них як кількість, скільки з них уніальних, найпопулярніший об'єкт і скільки разів він зустрічається

In [10]:
m = df.describe(exclude=[np.number])
categorial_attr = []
for i in m.items():
    categorial_attr.append(i[0])
categorial_attr = categorial_attr[1:11] 
print categorial_attr
df.describe(exclude=[np.number])

['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders', 'fuel-system']

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price
count,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205
unique,52,22,2,2,3,5,3,2,7,7,8,39,37,60,24,187
top,?,toyota,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.62,3.40,68,5500,?
freq,41,32,185,168,114,96,120,202,148,159,94,23,20,19,37,4

Для конвертації категоріальних атрибутів необхідно зібрати всі унікальні значення цих атрибутів і кожне з них записати як атрибут, значення в колонці для якого будуть 1/0 в залежності від того чи містився цей атрибут в якості значення для і-того рядка.Код нижче показуе список всіх унікальних значень для кожного категоріального атрибута

In [12]:
arr = df.to_records()
categorial_element = [[] for i in range(len(categorial_attr))]
p = 0
for i in df.items():
    if i[0] in categorial_attr:
        print i[1].unique()
        categorial_element[p].append(i[1].unique())
        p += 1
#print categorial_element
#element = [list(set(x)) for x in categorial_element]
#print element

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
['gas' 'diesel']
['std' 'turbo']
['two' 'four' '?']
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
['rwd' 'fwd' '4wd']
['front' 'rear']
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

# 4. Проаналізувати кількість відсутніх даних для кожного атрибута.

Код нижче виводить кількість і відсоток відсутніх данних для кожного атрибута

In [16]:
#print df
df = df.replace({'?':None})
#print df
#pd.isna(df)
#print a
a = df.count()
bat = ["symboling",'normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels',
      'engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders',
      'engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg',
      'highway-mpg','price']
#print a 
array = a.values
#print (array)
for i in range(len(bat)):
    print str(i+1)+'. Number of missing data for '+bat[i]+': '+str(205-array[i])+'  '+str(round((((205-array[i])*100)/205.0),2))+'% is missing'

1. Number of missing data for symboling: 0  0.0% is missing
2. Number of missing data for normalized-losses: 41  20.0% is missing
3. Number of missing data for make: 0  0.0% is missing
4. Number of missing data for fuel-type: 0  0.0% is missing
5. Number of missing data for aspiration: 0  0.0% is missing
6. Number of missing data for num-of-doors: 2  0.98% is missing
7. Number of missing data for body-style: 0  0.0% is missing
8. Number of missing data for drive-wheels: 0  0.0% is missing
9. Number of missing data for engine-location: 0  0.0% is missing
10. Number of missing data for wheel-base: 0  0.0% is missing
11. Number of missing data for length: 0  0.0% is missing
12. Number of missing data for width: 0  0.0% is missing
13. Number of missing data for height: 0  0.0% is missing
14. Number of missing data for curb-weight: 0  0.0% is missing
15. Number of missing data for engine-type: 0  0.0% is missing
16. Number of missing data for num-of-cylinders: 0  0.0% is missing
17. Number of missing data for engine-size: 0  0.0% is missing
18. Number of missing data for fuel-system: 0  0.0% is missing
19. Number of missing data for bore: 4  1.95% is missing
20. Number of missing data for stroke: 4  1.95% is missing
21. Number of missing data for compression-ratio: 0  0.0% is missing
22. Number of missing data for horsepower: 2  0.98% is missing
23. Number of missing data for peak-rpm: 2  0.98% is missing
24. Number of missing data for city-mpg: 0  0.0% is missing
25. Number of missing data for highway-mpg: 0  0.0% is missing
26. Number of missing data for price: 4  1.95% is missing

# 5. Описати проблеми з даними, які ви можете знайти для кожного атрибута
Атрибути з відповідними номерами мають пропущені данні, всі інші атрибути мають повні данні

   2. 41 
   6. 2 
   19. 4 
   20. 4
   22. 2 
   23. 2 
   26. 4

# 6. Зробити кореляцію для числових атрибутів. Знайти колінеарні атрибути (якщо такі є), описати їх і вказати, якими атрибутами можна знехтувати.
Два атрибути будуть колінеарні якщо вони знаходятся в лінійній залежності, коефіцієнт кореляції > 0.7
Атрибут "width","curb-weight" перебувають у високій кореляції з багатьма атрибутами , тому можна їх видалити

In [24]:
df.corr()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
symboling,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.178515,-0.035823,0.034606
wheel-base,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.249786,-0.470414,-0.544082
length,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.158414,-0.670909,-0.704662
width,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.181129,-0.642704,-0.677218
height,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.261214,-0.048640,-0.107358
curb-weight,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.151362,-0.757414,-0.797465
engine-size,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.028971,-0.653658,-0.677470
compression-ratio,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,1.000000,0.324701,0.265201
city-mpg,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,0.324701,1.000000,0.971337
highway-mpg,0.034606,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,0.265201,0.971337,1.000000

# 7. Описати нормалізацію (слайд з конструюванням атрибутів) числових атрибутів.
В наших данних є атрибути length, width, height які можна перетворити на один атрибут volume якщо перемножити їх значення